/* LIGHTBOX (external file) */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  pointer-events: none;
  user-select: none;

  /* 👇 add these */
  transform: scale(0.95);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.35s ease;
}
.lightbox.show img {
  transform: scale(1);
  opacity: 1;
}
.lightbox-close {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.lightbox-nav {
  position: fixed;
  top: 50%;
  font-size: 5rem;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
  z-index: 100000;
}

.lightbox-nav.left {
  left: 40px;
}

.lightbox-nav.right {
  right: 40px;
}
